In [229]:
import pandas as pd
import numpy as np

In [230]:
business_data = 'yelp_academic_dataset_business.json'
review_data = 'yelp_academic_dataset_review.json'

In [231]:
biz_df = pd.read_json(business_data,lines=True)

In [232]:
review_df = pd.read_json(review_data,lines=True,nrows = 2000000)

In [233]:
biz_df[biz_df['city']=='New York City']

Empty DataFrame
Columns: [business_id, name, address, city, state, postal_code, latitude, longitude, stars, review_count, is_open, attributes, categories, hours]
Index: []

In [234]:
biz_df_nj = biz_df[biz_df['state']=='NJ']

In [235]:
biz_df_nj['categories'].fillna('NotFound',inplace= True)
biz_df_nj['expanded'] = biz_df_nj['categories'].apply(lambda x:x.split(','))

C:\Users\You Li\AppData\Local\Temp\ipykernel_22488\3714225168.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  biz_df_nj['categories'].fillna('NotFound',inplace= True)
C:\Users\You Li\AppData\Local\Temp\ipykernel_22488\3714225168.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  biz_df_nj['expanded'] = biz_df_nj['categories'].apply(lambda x:x.split(','))

In [236]:
biz_df_nj['expanded']

42        [DUI Law,  Professional Services,  Lawyers,  C...
73        [American (Traditional),  Bars,  Nightlife,  S...
83        [Restaurants,  Japanese,  Sushi Bars,  Asian F...
88        [Juice Bars & Smoothies,  Restaurants,  Fruits...
111       [Eyewear & Opticians,  Health & Medical,  Shop...
                                ...
150282    [Teeth Whitening,  Endodontists,  Beauty & Spa...
150299                        [Nail Salons,  Beauty & Spas]
150308                            [Body Shops,  Automotive]
150314    [Home Services,  Pressure Washers,  Gutter Ser...
150337    [Appliances & Repair,  Home & Garden,  Applian...
Name: expanded, Length: 8536, dtype: object

In [237]:
biz_df_nj['is_restaurant'] = biz_df_nj['expanded'].apply(lambda x:int('Restaurants' in [i.strip() for i in x]))

C:\Users\You Li\AppData\Local\Temp\ipykernel_22488\84671736.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  biz_df_nj['is_restaurant'] = biz_df_nj['expanded'].apply(lambda x:int('Restaurants' in [i.strip() for i in x]))

In [238]:
for i in biz_df_nj.head(2)['expanded']:
    print(i)

['DUI Law', ' Professional Services', ' Lawyers', ' Criminal Defense Law']
['American (Traditional)', ' Bars', ' Nightlife', ' Sports Bars', ' Restaurants']

In [239]:
sum(biz_df_nj['is_restaurant'])

3341

In [240]:
biz_df_nj_res = biz_df_nj[biz_df_nj['is_restaurant']==1]

In [241]:
review_df = review_df[['business_id','stars','text']]

In [242]:
review_df

,business_id,stars,text
0,XQfwVwDr-v0ZS3_CbbE5Xw,3,"If you decide to eat here, just be aware it is..."
1,7ATYjTIgM3jUlt4UM3IypQ,5,I've taken a lot of spin classes over the year...
2,YjUWPpI6HXG530lwP-fb2A,3,Family diner. Had the buffet. Eclectic assortm...
3,kxX2SOes4o-D3ZQBkiMRfA,5,"Wow! Yummy, different, delicious. Our favo..."
4,e4Vwtrqf-wpJfwesgvdgxQ,4,Cute interior and owner (?) gave us tour of up...
...,...,...,...
1999995,TGiTwNYy3ZvOoHTT7ZHpgg,1,"Had to wait over 20 minutes for my order, then..."
1999996,kOmhn5Eo6AWzMVL6ALRq2Q,5,"Very good food!! My wife and I got crab legs, ..."
1999997,m6ZcOrHJHYmIPhjgh8cycw,2,"Food was just ok, nothing to write home about...."
1999998,YCfMNP_1YCTXTKlrnw44vQ,5,Great spot! Food and service was terrific! ...
1999999,YceIYPMBP3oKcuEFhj2_Gg,5,"My ten-year-old Sheltie, Diane, had a severe l..."

In [243]:
df_combined = pd.merge(biz_df_nj_res,review_df,how = 'left', on = 'business_id')

In [244]:
df_combined[df_combined['stars_y']>0]

,business_id,name,address,city,state,postal_code,latitude,longitude,stars_x,review_count,is_open,attributes,categories,hours,expanded,is_restaurant,stars_y,text
0,8rb-3VYXE37IZix4yOdskw,Sharky's Sports Bar & Grill,820 N Black Horse Pike,Williamstown,NJ,08094,39.696801,-74.999821,2.5,29,1,"{'Alcohol': 'u'full_bar'', 'RestaurantsGoodFor...","American (Traditional), Bars, Nightlife, Sport...",None,"[American (Traditional), Bars, Nightlife, S...",1,1.0,This place is a dump. Its dirty and the barten...
1,8rb-3VYXE37IZix4yOdskw,Sharky's Sports Bar & Grill,820 N Black Horse Pike,Williamstown,NJ,08094,39.696801,-74.999821,2.5,29,1,"{'Alcohol': 'u'full_bar'', 'RestaurantsGoodFor...","American (Traditional), Bars, Nightlife, Sport...",None,"[American (Traditional), Bars, Nightlife, S...",1,1.0,I've tried twice to get in on separate occasio...
2,8rb-3VYXE37IZix4yOdskw,Sharky's Sports Bar & Grill,820 N Black Horse Pike,Williamstown,NJ,08094,39.696801,-74.999821,2.5,29,1,"{'Alcohol': 'u'full_bar'', 'RestaurantsGoodFor...","American (Traditional), Bars, Nightlife, Sport...",None,"[American (Traditional), Bars, Nightlife, S...",1,1.0,After Washington Township just experienced a t...
3,8rb-3VYXE37IZix4yOdskw,Sharky's Sports Bar & Grill,820 N Black Horse Pike,Williamstown,NJ,08094,39.696801,-74.999821,2.5,29,1,"{'Alcohol': 'u'full_bar'', 'RestaurantsGoodFor...","American (Traditional), Bars, Nightlife, Sport...",None,"[American (Traditional), Bars, Nightlife, S...",1,4.0,A great dive bar. The kind of place you can t...
4,8rb-3VYXE37IZix4yOdskw,Sharky's Sports Bar & Grill,820 N Black Horse Pike,Williamstown,NJ,08094,39.696801,-74.999821,2.5,29,1,"{'Alcohol': 'u'full_bar'', 'RestaurantsGoodFor...","American (Traditional), Bars, Nightlife, Sport...",None,"[American (Traditional), Bars, Nightlife, S...",1,3.0,"Great wings, crispy and meaty. Upstairs is fo..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51352,Yx7jlAq3GNLRKXv2Y4rX7A,PrimoHoagies,2806 Route 130 N,Cinnaminson,NJ,08077,40.007453,-74.970273,3.5,18,1,"{'RestaurantsAttire': 'u'casual'', 'OutdoorSea...","Sandwiches, Restaurants, Delis, Italian","{'Monday': '0:0-0:0', 'Tuesday': '10:0-20:0', ...","[Sandwiches, Restaurants, Delis, Italian]",1,3.0,The rolls at Primo's are always good along wit...
51353,Yx7jlAq3GNLRKXv2Y4rX7A,PrimoHoagies,2806 Route 130 N,Cinnaminson,NJ,08077,40.007453,-74.970273,3.5,18,1,"{'RestaurantsAttire': 'u'casual'', 'OutdoorSea...","Sandwiches, Restaurants, Delis, Italian","{'Monday': '0:0-0:0', 'Tuesday': '10:0-20:0', ...","[Sandwiches, Restaurants, Delis, Italian]",1,5.0,Was timid in ordering given some of the review...
51354,Yx7jlAq3GNLRKXv2Y4rX7A,PrimoHoagies,2806 Route 130 N,Cinnaminson,NJ,08077,40.007453,-74.970273,3.5,18,1,"{'RestaurantsAttire': 'u'casual'', 'OutdoorSea...","Sandwiches, Restaurants, Delis, Italian","{'Monday': '0:0-0:0', 'Tuesday': '10:0-20:0', ...","[Sandwiches, Restaurants, Delis, Italian]",1,1.0,I do like the food but the Cinnaminson Primos ...
51355,Yx7jlAq3GNLRKXv2Y4rX7A,PrimoHoagies,2806 Route 130 N,Cinnaminson,NJ,08077,40.007453,-74.970273,3.5,18,1,"{'RestaurantsAttire': 'u'casual'', 'OutdoorSea...","Sandwiches, Restaurants, Delis, Italian","{'Monday': '0:0-0:0', 'Tuesday': '10:0-20:0', ...","[Sandwiches, Restaurants, Delis, Italian]",1,3.0,Not thrilled with an Italian hoagie I had rece...
51356,Yx7jlAq3GNLRKXv2Y4rX7A,PrimoHoagies,2806 Route 130 N,Cinnaminson,NJ,08077,40.007453,-74.970273,3.5,18,1,"{'RestaurantsAttire': 'u'casual'', 'OutdoorSea...","Sandwiches, Restaurants, Delis, Italian","{'Monday': '0:0-0:0', 'Tuesday': '10:0-20:0', ...","[Sandwiches, Restaurants, Delis, Italian]",1,4.0,This particular Primos is my go to! Especially...

In [245]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
df_combined_corpus = df_combined[df_combined['stars_y']>0][['text','stars_y']]
df_combined_corpus['pos'] = df_combined_corpus['text'].apply(lambda x:polarity_score_pos(x))
df_combined_corpus['neg'] = df_combined_corpus['text'].apply(lambda x:polarity_score_neg(x))

In [246]:
df_combined_corpus.to_csv('corpus.csv')

In [247]:
df_combined_corpus.rename({'stars_y':'stars'},inplace=True)
df_combined_corpus.to_csv('corpus.csv')